html {
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: inherit;
}

.body {
  width: 500px;
  height: 354px;
  margin: auto;
  background-image: url("../images/istockphoto-157308559-612x612.jpg");
  background-size: 500px;
}